//多行文字省略号
@mixin textCut($num:2){
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$num;
}
//X轴居中
@mixin centerX{
  left: 50%;
  transform: translateX(-50%);
}
//Y轴居中
@mixin centerY{
  top: 50%;
  transform: translateY(-50%);
}

@mixin products {
  padding: 10px;
  text-align: center;
  ul {
    @extend .clearfix;
    padding: 0;
    margin: 0;
    li {
      width: 48%;
      padding: 10px;
      float: left;
      border: 1px solid #ccc;
      margin-bottom: 10px;

      img {
        max-width: 100%;
        //max-height: 209px;
        //min-height: 122px;
        height: 150px;
      }
      p {
        @include textCut();
      }
      span:first-child {
        color: red;
        margin: 0 5px;
      }
      span:last-child {
        color: #ccc;
        text-decoration: line-through;
      }
      button {
        background-color: #007AFF;
        color: #fff;
        font-size: 14px;
      }
    }
  ;
    li:nth-child(odd) {
      margin-right: 4%;
    }
  }
}
